<section>
  <div class="container">
    <div class="header">
      <h1>Listagem</h1>
      <button mat-raised-button color="primary" (click)="addPokemon()">Adicionar</button>
    </div>
    <table *ngIf="pokemons" #table mat-table [dataSource]="pokemons" class="mat-elevation-z8">

      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef> Imagem </th>
        <td mat-cell *matCellDef="let pokemon"> 
          <img class="pokemon-image" [src]="pokemon.imageUrl">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
      </ng-container>

      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef> Habilidades </th>
        <td mat-cell *matCellDef="let pokemon"> 
          <span *ngFor="let skill of pokemon.skills; let i = index">
            {{ skill + (i < pokemon.skills.length - 1 ? ', ' : '') }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let pokemon"> 
          <span class="pokemon-type">{{pokemon.type}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let pokemon"> 
          <span 
            class="pokemon-action"
            (click)="editPokemon(pokemon)">
            <mat-icon fontIcon="edit">edit</mat-icon>
            Editar 
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>